	body{
		   font-size:1.5em;
		   backcolor:rgb(0, 255, 10);
	}
	 body header{
		font-size:2em;
                text-align:center;
                background-color:rgb(25, 0, 255);                                  color:rgb(29, 237, 74);
                border:solid 6px rgb(25, 0, 255);
            }
            nav span{
                border:solid 5px rgb(235, 206, 235);
                text-align:center;
                background-color:rgb(250, 130, 250);
            }
            nav {
                text-align:center;
                position:relative;
                left:14.4%;
                top:6px;
                width:63%;
                line-height:28px;
            }
            a:link {
                color: blue;
                text-decoration:none;
            }
            a:hover { 
                color: rgb(212, 21, 212);
            }
            a:active { 
                color: red;
            }
            footer{
                text-align:center;
                background-color: rgb(209, 179, 209);
                border:solid 2px;
                clear: both;
            }
            aside ul{
                position: fixed;
                list-style: none;
                left: 5%;
                top: 110px;
                line-height: 31px;
                padding: 5px;
                border: solid 2px black;
            }
            body div{
                border:solid 3px rgb(0, 0, 0);
                position:relative;
                top:10px;
                left:15%;
                width:65%;
                line-height: 1.75em;
               padding: 10px;
            }
	    div p, div li{
		margin-left: 2.5em;
            }
            #do{
                color:rgb(31, 58, 237);
            }
	    .under{
                text-decoration:underline;
            }
pre{
	line-height:1em;
}
	    .st{
                text-decoration:line-through;
            }
